/* ===== THEME VARIABLES ===== */
:root {
  --text: #6b6375;
  --text-h: #3c6192;
  --bg: linear-gradient(
    135deg,
  #ffffff,
  #aee9ff,
  #dff6ff
  );
  --border: #e5e4e7;

  --accent: #ffa600;
  --accent-bg: rgba(170, 59, 255, 0.1);

  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px;

  --radius: 10px;

  /* font-family: system-ui, 'Segoe UI', Roboto, sans-serif; */
  color: var(--text);
  background: var(--bg);
}

/* ===== BASE ===== */
body {
  margin: 0;
  font-family: "EB Garamond", serif;
}

#root {
  max-width: 1300px;
  margin: auto;
  padding: 0px, 20px, 0px, 20px
}

.wave-top {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -5px; /* removes gap */
}

.wave-top svg {
  display: block;
  width: 100%;
  height: 120px;
  transform: rotate(180deg);
}

.wave-top path {
  animation: waveMove 8s ease-in-out infinite alternate-reverse;
}

/* ===== TEXT ===== */
.logo {
  display: block;
  margin: 0 auto 10px;
  width: 80px; /* adjust if needed */
  height: auto;
  position: relative;
  overflow: hidden;
}

.logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  transform: skewX(-20deg);
}

.logo:hover::after {
  animation: shine 1s ease;
}

@keyframes shine {
  100% {
    left: 150%;
  }
}
.home-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 35px;
  color: #3c6192;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.911);
  font-family: "EB Garamond", serif;
  font-weight: 700;
  
}

.home-subtitle {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 6px;
  font-size: 20px;
  color: var(--text);
}

.subtle-note {
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  margin-bottom: 20px;
  font-style: italic;
}

p {
  text-align: center;
}

/* ===== STATUS TEXT ===== */
.status-text {
  margin-top: 40px;
  text-align: center;
}

.status-text.error {
  color: red;
}

/* ===== INPUTS ===== */
.search-input,
.filter-dropdown {
  padding: 12px;
  margin-bottom: 12px;
  border: 1px var(--bg);
  border-radius: var(--radius);

  background: #ffffff;
  color: var(--text);

  font-size: 15px;
}

.controls {
  display: flex;
  justify-content: center;   /* centers horizontally */
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

/* make them share space */
.search-input {
  width: 40%;
}

.filter-dropdown {
  width: 10%;
}

.search-input,
.filter-dropdown {
  font-family: "Inter", sans-serif;
}

/* ===== GRID ===== */
.meal-grid {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

/* ===== CARD ===== */
.meal-link {
  text-decoration: none;
  color: inherit;
}

.meal-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: var(--radius);
  overflow: hidden;
  align-items: center;   /* centers horizontally */
  text-align: center; 
  background: #ffffff;
  box-shadow: var(--shadow);
  gap: 8px;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.meal-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.18);
  border-color: #aee9ff;
}

.cook-btn {
  margin-top: auto;
  padding: 8px 12px;
  width: 150px;
  border: none;
  border-radius: 15px;
  background: #64d6ff;
  color: white;
  font-size: 14px;
  cursor: pointer;
  opacity: 0.85;
  transform: translateY(0);
  transition: 0.2s ease;
}

.cook-btn:hover {
  transform: translateY(-2px);
  background: #4c7bb9;
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

button,
.cook-btn,
.page-btn {
  font-family: "Inter", sans-serif;
}

.meal-card:hover .cook-btn {
  opacity: 1;
  transform: translateY(-2px);
}
/* ===== IMAGE ===== */
.meal-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* ===== CONTENT ===== */
.meal-content {
  padding: 5px 12px 27px 12px;
  flex: 1;                /* takes remaining space */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.meal-title {
  font-size: 16px;
  margin: 8px 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;   /* max 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--text-h);
  font-family: "Bree Serif", cursive;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.2px;
}

/* ===== PAGINATION ===== */
.pagination {
  margin-top: 24px;
  text-align: center;
}

.page-btn {
  margin: 4px;
  padding: 8px 12px;

  border: 1px solid var(--border);
  background: var(--bg);
  color: var(--text);

  border-radius: 6px;
  cursor: pointer;

  transition: 0.2s ease;
}

.page-btn:hover {
  background: var(--accent-bg);
}

.page-btn.active {
  background: var(--accent);
  color: white;
  border-color: var(--accent);
}

.page-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.wave-container {
  position: relative;
  width: 100vw;          /* full viewport width */
  left: 50%;
  transform: translateX(-50%); /* center it properly */
  margin-top: 40px;
  
}

.wave-container svg {
  display: block;
  width: 100%;
  height: 120px;
}

.wave-container path{
  animation: waveMove 6s ease-in-out infinite alternate;
}


@keyframes waveMove {
  from {
    d: path("M0,64 C240,120 480,0 720,64 C960,120 1200,0 1440,64 L1440,120 L0,120 Z");
  }
  to {
    d: path("M0,80 C240,40 480,120 720,80 C960,40 1200,120 1440,80 L1440,120 L0,120 Z");
  }
}

@media (max-width: 1200px) {
  .meal-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .meal-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .meal-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ========= DETAILS CSS PAGE =========== */
.recipe-page {
  min-height: 100vh;
  padding: 30px 20px;
  background: #fbfaf7;
  position: relative;
  overflow-x: hidden;
}

.recipe-page::before,
.recipe-page::after {
  content: "";
  position: fixed;
  top: 0;
  width: 80px;
  height: 100vh;
  z-index: 0;
}

.recipe-page::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100vh;
  z-index: 0;

  background-image:
    linear-gradient(to right, rgba(0, 120, 255, 0.25) 5px, transparent 5px),
    linear-gradient(to bottom, rgba(0, 120, 255, 0.25) 5px, transparent 5px);

  background-size: 15px 15px;
}

.recipe-page::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  height: 100vh;
  z-index: 0;

  background-image:
    linear-gradient(to right, rgba(0, 120, 255, 0.30) 5px, transparent 5px),
    linear-gradient(to bottom, rgba(0, 120, 255, 0.30) 5px, transparent 5px);

  background-size: 15px 15px;
}

.recipe-content,
.recipe-title,
.recipe-image-container,
.back-btn {
  position: relative;
  z-index: 1;
}
.back-btn {
  font-family: "Inter", sans-serif;
  padding: 10px 16px;
  border-radius: 12px;
  border: 1px solid var(--border);
  background: #aee9ff;
  color: var(--text-h);
  cursor: pointer;
  transition: 0.2s ease;
}

.back-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}

.recipe-title {
  font-family: "Bree Serif", cursive;
  letter-spacing: 0.2px;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
  margin: 20px 0;
  color: #3c6192;
}

.recipe-image-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
}

.recipe-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  filter: brightness(0.85) contrast(1.05);
}

.recipe-content {
  max-width: 900px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ingredients,
.instructions {
  font-family: "Inter", sans-serif;
  line-height: 1.7;
}

.instructions p,
.ingredients li {
  text-align: left;
}

.ingredients h2,
.instructions h2 {
  font-family: "EB Garamond", serif;
  color: var(--text-h);
}

.ingredients ul {
  padding-left: 20px;
}

.ingredients li {
  margin-bottom: 6px;
}

.instructions p {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .recipe-page{
    margin-top: 40px;
  }
  
  .recipe-page::before,
  .recipe-page::after {
    width: 100vw;
    height: 40px;
    left: 0;
    right: 0;
    padding-top: 20px;
  }

  /* TOP border */
  .recipe-page::before {
    top: 0;
    bottom: auto;
    background-color: #aee9ff;

    background-image:
    linear-gradient(to right, rgba(0, 120, 255, 0.30) 5px, transparent 5px),
    linear-gradient(to bottom, rgba(0, 120, 255, 0.30) 5px, transparent 5px);

    background-size: 15px 15px;
  }

  /* BOTTOM border */
  .recipe-page::after {
    top: auto;
    bottom: 0;
    background-color: #aee9ff;

    background-image:
    linear-gradient(to right, rgba(0, 120, 255, 0.30) 5px, transparent 5px),
    linear-gradient(to bottom, rgba(0, 120, 255, 0.30) 5px, transparent 5px);

    background-size: 15px 15px;
  }

  .recipe-page::before,
  .recipe-page::after {
    z-index: 10;
    pointer-events: none;
  }
}

@media (max-width: 426px) {
  .recipe-page{
    margin-top: 15px;
  }
  
  .recipe-page::before,
  .recipe-page::after {
    width: 100vw;
    height: 20px;
    left: 0;
    right: 0;
    padding-top: 20px;
  }

  /* TOP border */
  .recipe-page::before {
    top: 0;
    bottom: auto;
    background-color: #aee9ff;

    background-image:
    linear-gradient(to right, rgba(0, 120, 255, 0.30) 5px, transparent 5px),
    linear-gradient(to bottom, rgba(0, 120, 255, 0.30) 5px, transparent 5px);

    background-size: 15px 15px;
  }

  /* BOTTOM border */
  .recipe-page::after {
    top: auto;
    bottom: 0;
    background-color: #aee9ff;

    background-image:
    linear-gradient(to right, rgba(0, 120, 255, 0.30) 5px, transparent 5px),
    linear-gradient(to bottom, rgba(0, 120, 255, 0.30) 5px, transparent 5px);

    background-size: 15px 15px;
  }

  .recipe-page::before,
  .recipe-page::after {
    z-index: 10;
    pointer-events: none;
  }
}